body{
    margin: 0;
    padding:50px;
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(3.jpg);
    background-size: cover;
    background-position: center;
    font-family: all;
}
.info-title 
{
      margin-top: 25px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: unset;  
      transition: all  2s ease-in-out;
      padding:5px;
}
.info-title h1{
   font-size: 32px;
   line-height: 10px;
}
.info-title h2
{
    font-size: 20px;
}
form
{
margin-top: 5px;
margin-bottom: 5px;
transition: all 2s ease-in-out;
}

.data
{
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
    width: 400px;
    background: #fff;
    border:groove;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-style: white;
    outline:transparent;
    border-bottom: 1px solid white;
    color:#000000;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 10px; 
  
}
